<!doctype html>
<html lang="en-US">
  <head>
    <%= t.include("partials/_head.html", grunt.data.json) %>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>

    <responsive-child>
      <main class="interactive">

        <div class="intro">
          <h1>360-degree views at Pike Place Market</h1>
          <div class="chatter">Click on a location for a closer look. The new MarketFront is outlined.</div>
        </div>

        <div class="map">
          <img class="backdrop" src="./assets/market-expansion.jpg">
          <div class="points">
            <% json.pikeplace.forEach(function(m) { %>
            <div class="dot" style="left: <%= m.x %>%; top: <%= m.y %>%" data-youtube="<%= m.video %>" id="<%= m.loc %>">
            <%= m.loc %>
            </div>
            <% }) %>
          </div>

          <div class="lightbox">
            <span class="close">&times;</span>
            <div class="video">
              <iframe src="" frameborder="0" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <div class="list">
          <% json.pikeplace.forEach(function(m) { %>
            <div class="list-item" data-youtube="<%= m.video %>" id="<%= m.loc %>">
            <span class="list-location"><%= m.loc %></span> <%= m.place %>
            </div>
          <% }) %>
        </div>

        <div class="credits">
          Photo and videos by Kjell Redal / The Seattle Times
          <br>Development by Vanessa Mart&iacute;nez / The Seattle Times
        </div>
      </main>
    </responsive-child>

    <script src="app.js" async></script>
    <% if (json.project.production) { %>
    <%= !json.project.embedded ? t.include("partials/_foot.html") : "" %>
    <%= t.include("partials/_workHere.html") %>
    <% } %>
  </body>
</html>
